.container-do-header {
  align-items: center;
  background-color: #198754;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  position: fixed;
  width: 100%;
}

.form-container {
  column-gap: 10px;
  display: flex;
}

.search-button, .search-input {
  align-items: center;
  display: flex;
  height: 30px;
}

.lista-de-categorias {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  font-size: small;
  padding: 10px;
  width: 20%;
}

.lista-e-resultado {
  column-gap: 15px;
  display: flex;
  padding-top: 50px;
}

.container-do-resultado {
  background-color: #d9d9d9;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  justify-content: center;
  padding: 30px;
  width: 77%;
}

.container-do-resultado span {
  display: block;
  text-align: center;
}
