.card-do-produto {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  padding: 15px;
  width: 200px;
}

.card-do-produto p {
  font-size: smaller;
  height: 200px;
  text-align: center;
}

.details-button {
  background-color: #0d6efd;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 12pt;
  transition: 0.5s;
}

.details-button:hover {
  background-color: white;
  border: 1px solid #0d6efd;
  color: #0d6efd;
}

.nome-do-produto {
  height: 60px;
  overflow: auto;
}

.add-btn {
  font-size: 10pt;
  height: 50px;
}

.card-do-produto img {
  height: 100px;
  width: 100px;
}
